mongodb:
  uri: mongodb://mongoadmin:secret@localhost:27017/?authSource=admin
  database: tunnel-provisioner-dev
  timeoutMs: 3000
ldap:
  url: ldap://localhost:389
  baseDn: DC=my-company,DC=com
  bindUser: cn=admin,dc=my-company,dc=com
  bindPassword: 12345
  userFilter: (memberOf=CN=Test Group,OU=groups,DC=my-company,DC=com)
  userAttribute: uid
  emailAttribute: mail
  userClass: inetOrgPerson
providers:
  routeros:
    mk-test:
      host: 10.10.90.1
      port: 8728
      username: apitest
      password: test12345
      wg-tunnels:
        wg-road-warriors:
          interface: test-wg
          profiles:
            default-all:
              ranges:
                - 10.10.120.0/24
                - 10.10.100.0/23
                - 10.10.110.0/24
